# Variables de entorno y credenciales
.env
.env.local

# Datos de entrada y salida masivos
docs/
md_consolidado/
processed_files.json

# Entorno virtual de Python
venv/
env/
ENV/
env.bak/
venv.bak/

# Caché y compilados de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE y editores
.vscode/
.idea/
*.swp
*.swo
